.edit-btn, .delete-btn{
    border: 2px solid black;
    background-color: white;
    /* font-weight: bold; */
    text-transform: none;
    font-size: 1em;
  }
  
  .edit-btn:hover {
    background-color: rgb(75, 157, 238);
    color: white;
  }
  
  .delete-btn:hover {
    background-color: red;
    color:white;
  }
  